@import '~common/scss/variable';
.slider {
  min-height: 1px;

  .slider-group {
    position: relative;
    overflow: hidden;
    white-space: nowrap;

    .slider-item {
      float: left;
      box-sizing: border-box;
      text-align: center;
      overflow: hidden;

      a {
        display: block;
        width: 100%;
        text-decoration: none;
        overflow: hidden;
      }
      
      img {
        display: block;
        width: 100%;
      }
    }
  }

  .dots {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 12px;
    text-align: center;
    font-size: 0;

    .dot {
      display: inline-block;
      margin: 0 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $color-text-l;

      &.active {
        border-radius: 5px;
        width: 20px;
        background: $color-text-ll;
      }
    }
  }
}

