@import '~common/scss/variable';
@import '~common/scss/_mixin';

.m-header {
  position: relative;
  height: 44px;
  text-align: center;
  font-size: 0;
  color: $color-theme;

  .icon {
    display: inline-block;
    margin-top: 6px;
    margin-right: 9px;
    width: 30px;
    height: 32px;
    vertical-align: top;
    @include bg-image('logo');
    background-size: 30px 32px;
  }

  .text {
    display: inline-block;
    line-height: 44px;
    vertical-align: top;
    font-size: $font-size-large;
  }

  .mine {
    position: absolute;
    top: 0;
    right: 0;

    .icon-mine {
      display: block;
      padding: 12px;
      font-size: 20px;
      color: $color-theme;
    }
  }
}
